.page-wrapper {
  /* border: 0.5px solid; */
  padding: 2rem 4rem;
}
.page-section {
  display: grid;
  row-gap: 2rem;
}
.page-section .Page-row-1,
.page-section .Page-row-3 {
  background-color: #3f3f3f;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.page-section a {
  text-decoration: none;
}
.Page-row-1 {
  display: flex;
  align-items: center;
}
.Page-row-1-a {
  font-size: 24px;
  color: rgb(225, 225, 235);
}
.Page-row-1-b a {
  color: #2f2f2f;
  background-color: lightgray;
  padding: 8px 16px;
  border-radius: 5px;
}
.Page-row-1-b a:hover {
  color: #ffffff;
  background-color: rgb(65, 65, 245);
}
.Page-row-1-b a .remove-padd {
  padding: 0;
  margin: 0;
  display: inline-flex;
}
.Page-row-2 {
}
.edit-contact-wrapper {
  /* border: 0.5px dashed; */
  display: grid;
  gap: 1rem;
}
.edit-contact-wrapper .input-grp {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
.edit-contact-wrapper .input-grp input,
.edit-contact-wrapper .input-grp select {
  padding: 8px 12px;
}
.Page-row-3 {
  align-items: center;
}
.Page-row-3-a a {
  color: #2f2f2f;
  background-color: lightgray;
  padding: 8px 16px;
  border-radius: 5px;
}
.Page-row-3-a a:hover {
  color: #ffffff;
  background-color: rgb(65, 65, 245);
}
.Page-row-3-b input {
  color: #ffffff;
  background-color: rgb(65, 65, 245);
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}
.Page-row-3-b input:hover {
  color: #2f2f2f;
  background-color: lightgray;
}
