.login-wrapper {
  /* border: 0.5px solid grey; */
  box-shadow: 0 0 8px lightgrey;
  display: grid;
  row-gap: 1rem;
  text-transform: capitalize;
  margin: 2rem auto;
  width: 30%;
  padding: 1rem;
  margin-top: 70px;
}
.login-wrapper > div {
  /* border: 0.5px dashed red; */
}
.login-heading {
  font-size: 35px;
  text-align: center;
  background-color: rgba(246, 241, 241, 0.997);
}
.login-body {
}
.login-form-wrapper {
  display: grid;
  row-gap: 1rem;
}
.login-rows {
  display: grid;
}
.login-rows input,
select,
button {
  padding: 0.5rem;
}
.login-rows button {
  background-color: green;
  color: white;
  border: none;
  text-transform: capitalize;
  cursor: pointer;
}
